@import "src/assets/styles/templates";

main.appMain {
  max-width: 1526px;
  width: calc(100vw - 5em);
  margin: 0 auto;
  background: #F3F3F3;
  border-radius: 1.5em;
  padding-top: 2.5em;
  font-size: 20px;

  @media (max-width: 1123px) {
    font-size: 16px;
  }

  @media (max-width: 821px) {
    font-size: 14px;
  }

  @media (max-width: 698px) {
    font-size: 12px;
  }

  @media (max-width: 500px) {
    font-size: 10px;
  }

  @media (max-width: 380px) {
    font-size: 6px;
  }

  .content {
    width: 100%;
    background: #FDFDFD;
    border-radius: 1.5em 1.5em 0 0;
    padding: 3.75em 5em;
  }
}