@import "src/assets/styles/templates";

main.appMain {
  max-width: 1526px;
  width: calc(100vw - 5em);
  margin: 0 auto;
  background: #F3F3F3;
  border-radius: 1.5em;
  padding-top: 2.5em;
  font-size: 20px;

  .content {
    width: 100%;
    background: #FDFDFD;
    border-radius: inherit;
    padding: 3.75em 5em;
  }
}